<!DOCTYPE html>
<html>
  <head>
    <title>Waer Pilot Sign Up</title>
  </head>
  <body bgcolor='44546a'>

    <img src="/logo.png" style="display:block; margin-left:auto; margin-right:auto; margin-bottom:50px; width:20%;">

    <div style="width:70%; display:block; margin-left:auto; margin-right:auto;">
      <p style="color:#ffffff; font-size:24px; text-align:left; margin-bottom:40px;">
	Your sign up has failed. 
      </p>

      <p style="color:#ffffff; font-size:24px; text-align:left; margin-bottom:60px;">
	Please try again or contact info@waer.io for additional assistance. 
      </p>

      <button style="display:block; margin-left:auto; margin-right:auto; background-color:#ffc000;">
	<a href="/panel/signup" style="text-decoration:none;">
	  <p style="color:#ffffff; font-size:26px; text-align:left;">
	    <b>
	      CLICK HERE TO TRY AGAIN
	    </b>
	  </p>
	</a>
      </button>
    </div>
  </body>
</html> 

