<!DOCTYPE html>
<html>
  <head>
    <title>Waer Pilot Sign Up</title>
  </head>
  <body bgcolor='44546a'>

    <img src="/logo.png" style="display:block; margin-left:auto; margin-right:auto; margin-bottom:50px; width:20%;">

    <div style="width:70%; display:block; margin-left:auto; margin-right:auto;">
      <p style="color:#ffffff; font-size:24px; text-align:left;">
	Your sign up has succeeded. Thank you for signing up.
      </p>

      <p style="color:#ffffff; font-size:24px; text-align:left;">
	Feel free to contact info@waer.io if you have any additional questions.
      </p>
    </div>
  </body>
</html> 

